<section class="account-reset-password">
<div class="c-3">
	{% form 'reset_customer_password' %}
		<div class="account-gate-header type-spacing">
			<h1 class="t-h-3">Reset Password</h1>
			<p>Enter your email below and we’ll send you a reset link.</p>
			{{ form.errors | default_errors }}
		</div>

		<div class="account-gate-content">
			<div class="field">
				<input 
					type="password" 
					name="customer[password]" 
					id="reset-password" 
					{% if form.errors contains 'password' %} class="error"{% endif %}>
				<label for="reset-password">Password</label>
			</div>

			<div class="field">
				<input 
					type="password" 
					value="" 
					name="customer[password_confirmation]"  
					id="reset-password-confirm" 
					{% if form.errors contains 'password_confirmation' %}class="error"{% endif %}>
				<label for="reset-password-confirm">Confirm Password</label>
			</div>
		</div>

		<div class="account-gate-footer">
			<button 
				type="submit" 
				class="btn">
			Submit</button>
		</div>
	{% endform %}
</div>
</section>