{% if collection.image != nil %}
	{% render 'img-srcset', 
		image: collection.image, 
		max_width: 1800,
		alt: collection.image.alt %}
{% endif %}

<h1 class="t-h-1">{{ collection.title }}</h1>

{% if collection.description != empty %}
	<p>{{ collection.description }}</p>
{% endif %}

{% if collection.products.size > 0 %}
	{% paginate collection.products by 24 %}
		<div class="collection-products f-h">
			{% for product in collection.products %}
				{% render 'product-card',
					product: product %}
			{% endfor %}
		</div>

		{% if paginate.next %}
			<a href="{{ paginate.next.url }}" title="Next page"></a>
		{% endif %}
	{% endpaginate %}
{% else %}
	<h2 class="t-h-2">Sorry, there are no products in this collection</h2>
	<a class="btn" href="{{ shop.url }}">Continue Shopping</a>
{% endif %}