/*

	1.0 COMPONENTS
		1.1 PRODUCT CARD
		1.2 FLICKITY SLIDER
	2.0 SECTIONS

*/

/*  1.0 COMPONENTS  */

.comp-email-capture {
	&.is-success > * {
		-webkit-animation: 0.6s fadeOut both;
		animation: 0.6s fadeOut both;
		pointer-events: none;
	}

	&.is-success:before {
		content: attr(data-success-message);
		position: absolute;
		width: 100%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		white-space: nowrap;
		-webkit-animation: 0.6s 0.6s fadeIn both;
		animation: 0.6s 0.6s fadeIn both;
	}

	.help-text {
		font-size: 8px;
		opacity: 0.5;
		text-align: left;
		margin: var(--s-2) 0 var(--s-3);
	}

	.field {
		button[type='submit'] {
			border-bottom: 1px solid var(--cr-white);
			padding: var(--s-1) var(--s-2);
			height: 50px;
			.svg-arrow-left-alt {
				width: 25px;
			}
		}
	}
}

.comp-breadcrumb {
	ul {
		list-style: none;
	}

	ul li {
		display: inline-block;
	}

	ul li:last-child {
		color: var(--cr-black);
	}

	ul li:not(:last-child)::after {
		content: '/';
		display: inline-block;
		margin: 0 0.5em;
	}
}

/*  1.1 PRODUCT CARD  */

.product-card {
	position: relative;
	display: flex;
	flex-direction: column;

	@include tablet {
		&.is-expanded {
			grid-column: span 3;
			.card-thumbnail::after {
				padding-top: calc(70% - 28px);
				@include mobile-only {
					padding-top: calc(70% - 14px);
				}
				@include tablet-only {
					padding-top: calc(70% - 21px);
				}
			}
		}
	}

	.card-thumbnail {
		position: relative;
		&:after {
			content: '';
			display: block;
			padding-top: 140%;
		}
	}

	.card-info {
		@include desktop {
			display: flex;
		}
	}

	.card-add-to-cart {
		transition: all 0.4s var(--a-panel);
		z-index: 30;
		@include desktop {
			position: absolute;
			left: 0;
			right: 0;
			top: 70%;
			display: flex;
			justify-content: center;
			align-items: center;
			opacity: 0;
			visibility: hidden;
		}
	}

	@include desktop {
		&:hover {
			.card-add-to-cart {
				top: 75%;
				opacity: 1;
				visibility: visible;
			}
		}
	}
}

/*  1.1 PRODUCT CARD - END  */

/* 1.2 FLICKITY SLIDER */

.flickity-viewport {
	position: relative;
	padding-top: 100%;
	overflow: hidden;
}

.flickity-slider {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
}

.flickity-slide {
	width: 100%;
}

.flickity-page-dots {
	position: absolute;
	left: 0;
	right: 0;
	bottom: var(--s-2);
	display: flex;
	justify-content: center;

	.dot {
		width: 8px;
		height: 4px;
		border-radius: 2px;
		background-color: var(--cr-primary);
		opacity: 0.5;
		margin: 0 4px;
		transition: all 0.5s ease;

		&.is-selected {
			width: 16px;
			opacity: 1;
		}
	}
}

/* 1.2 FLICKITY SLIDER - END */

/*  1.0 COMPONENTS - END  */

/*  2.0 SECTIONS  */

/*  2.0 SECTIONS - END  */
