/*

	1.0 COMPONENTS
		1.1 PRODUCT CARD
		1.2 CART ITEMS
	2.0 PLUGINS
		2.1 FLICKITY SLIDER

*/

/*  1.0 COMPONENTS  */

.comp-email-capture {
	&.is-success > * {
		-webkit-animation: 0.6s fadeOut both;
		animation: 0.6s fadeOut both;
		pointer-events: none;
	}

	&.is-success:before {
		content: attr(data-success-message);
		position: absolute;
		width: 100%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		white-space: nowrap;
		-webkit-animation: 0.6s 0.6s fadeIn both;
		animation: 0.6s 0.6s fadeIn both;
	}

	.help-text {
		font-size: 12px;
		opacity: 0.5;
		text-align: left;
		margin: var(--s-2) 0 var(--s-section-half);
	}

	.field {
		button[type='submit'] {
			border-bottom: 1px solid var(--cr-white);
			padding: var(--s-1) var(--s-2);
			height: 50px;
			.svg-arrow-left-alt {
				width: 25px;
			}
		}
	}
}

.comp-breadcrumb {
	ul {
		list-style: none;
	}

	ul li {
		display: inline-block;
	}

	ul li:last-child {
		color: var(--cr-black);
	}

	ul li:not(:last-child)::after {
		content: '/';
		display: inline-block;
		margin: 0 0.5em;
	}
}

/*  1.1 PRODUCT CARD  */

.product-card {
	position: relative;
	display: flex;
	flex-direction: column;

	@include tablet {
		&.is-expanded {
			grid-column: span 3;
			.card-thumbnail::after {
				padding-top: calc(70% - 28px);
				@include mobile-only {
					padding-top: calc(70% - 14px);
				}
				@include tablet-only {
					padding-top: calc(70% - 21px);
				}
			}
		}
	}

	.card-thumbnail {
		position: relative;
		&:after {
			content: '';
			display: block;
			padding-top: 140%;
		}
	}

	.card-info {
		@include desktop {
			display: flex;
		}
	}

	.card-add-to-cart {
		transition: all 0.4s var(--a-panel);
		z-index: 30;

		@include desktop {
			position: absolute;
			left: 0;
			right: 0;
			top: 70%;
			display: flex;
			justify-content: center;
			align-items: center;
			opacity: 0;
			visibility: hidden;

			.btn {
				box-shadow: 0 0 12px rgba(21, 71, 52, 0.25);
			}
		}
	}


	@media (hover: hover) {
		&:hover {
			.card-add-to-cart {
				top: 75%;
				opacity: 1;
				visibility: visible;
			}
		}
	}
}

/*  1.1 PRODUCT CARD - END  */

/*  1.2 CART ITEMS  */

.cart-items-wrapper {
	display: grid;
	gap: var(--s-3);
}

.cart-item {
	display: grid;
	grid-template-columns: 130px 1fr;
	gap: var(--s-3);
	width: 100%;

	@include mobile-only {
		grid-template-columns: 80px 1fr;
	}

	.item-thumbnail {
		position: relative;
		&::after {
			content: '';
			display: block;
			padding-top: 100%;
		}
	}

	.item-info-price {
		padding-left: var(--s-2);
		opacity: 0.5;
	}

	.item-purchase {
		margin-top: var(--s-3);
	}
}

.upsell-products {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: var(--s-3);

	.item-thumbnail {
		position: relative;
		&::after {
			content: '';
			display: block;
			padding-top: 100%;
		}
	}

	.upsell-product-price {
		opacity: 0.5;
	}
}

/*  1.2 CART ITEMS - END  */

/*  1.0 COMPONENTS - END  */

/*  2.0 PLUGINS  */

/*  2.1 FLICKITY SLIDER  */

.flickity-viewport {
	position: relative;
	padding-top: 100%;
	overflow: hidden;
}

.flickity-slider {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
}

.flickity-slide {
	width: 100%;
}

.flickity-page-dots {
	position: absolute;
	left: 0;
	right: 0;
	bottom: var(--s-2);
	display: flex;
	justify-content: center;

	.dot {
		width: 8px;
		height: 4px;
		border-radius: 2px;
		background-color: var(--cr-primary);
		opacity: 0.5;
		margin: 0 4px;
		transition: all 0.5s ease;

		&.is-selected {
			width: 16px;
			opacity: 1;
		}
	}
}

/*  2.1 FLICKITY SLIDER - END  */

/*  2.0 PLUGINS - END  */
