/*

	1.0 SITEWIDE
		1.1 HEADER
		1.2 FOOTER
		1.3 GENERAL + MISC
		1.4 MINICART
	2.0 ACCOUNT
		2.1 ACCOUNT GATE
		2.2 ACCOUNT CONTENT
	3.0 FRONTPAGE
	4.0 COLLECTION
	5.0 PRODUCT

*/

/*  1.0 SITEWIDE  */

/*  1.1 HEADER  */

.global-header {
	position: fixed;
	width: 100%;
	min-height: 90px;
	max-height: 90px;
	padding: var(--s-3) 0;
	background-color: var(--cr-subdued);
	transition: all 0.4s var(--a-panel);
	overflow: hidden;
	z-index: 99;

	@include touch {
		min-height: 0px;
		max-height: 75px;
	}

	&.mobile_menu_active {
		background-color: var(--cr-subdued) !important;
		min-height: 100%;
		max-height: 100%;
	}

	&.scrolled,
	.minicart-is-active & {
		background-color: var(--cr-subdued) !important;
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	}
}

.header-logo {
	display: inline-block;
	transition: opacity 0.4s var(--a-panel);

	.scrolled &,
	.mobile_menu_active &,
	.minicart-is-active & {
		opacity: 1 !important;
	}

	@include touch {
		max-width: 194px;
	}
}

.header-trigger {
	padding: var(--s-2) 0;

	.icon-bar {
		width: 24px;
		height: 1px;
		display: block;
		transition: all 0.2s;
		background-color: var(--cr-primary);
		user-select: none;
		pointer-events: none;

		&:nth-child(2) {
			margin: 6px 0;
		}

		.mobile_menu_active & {
			background-color: var(--cr-primary) !important;

			&:first-child {
				transform-origin: 10% 10%;
				transform: rotate(45deg);
			}

			&:nth-child(2) {
				opacity: 0;
			}

			&:last-child {
				transform-origin: 10% 90%;
				transform: rotate(-45deg);
			}
		}

		.scrolled &,
		.minicart-is-active & {
			background-color: var(--cr-primary) !important;
		}
	}
}

.header-actions {
	position: relative;

	.header-cart {
		height: 100%;
		color: var(--cr-primary);
		transition: all 0.2s ease-in-out;

		.scrolled &,
		.mobile_menu_active &,
		.minicart-is-active & {
			color: var(--cr-primary) !important;
		}

		.svg-cart {
			width: 32px;
		}
	}

	.cart-total-items {
		position: absolute;
		top: -4px;
		right: -4px;
		width: 16px;
		height: 16px;
		font-size: 10px;
		line-height: 16px;
		text-align: center;
		color: var(--cr-white);
		background-color: #d39300;
		border-radius: 100%;
		z-index: 10;

		&:empty {
			display: hidden;
		}
	}
}

.header-links {
	.linklist-item a {
		display: block;
		color: var(--cr-primary);
		padding: var(--s-2) var(--s-3);
		transition: all 0.2s ease-in-out;

		.scrolled &,
		.minicart-is-active & {
			color: var(--cr-primary) !important;
		}

		@include touch {
			padding: var(--s-2) var(--s-2);
		}
	}

	&--mobile {
		width: 100%;
		height: 0;
		transition: all 0.4s var(--a-panel);
		overflow: hidden;

		.linklist-item a {
			font-size: 16px;
			padding: 16px 0;
			opacity: 0;
		}

		.mobile_menu_active & {
			height: 100%;
			.linklist-item a {
				opacity: 1;
			}
		}
	}
}

/*  1.1 HEADER - END  */

/*  1.2 FOOTER  */

.global-footer {
	color: var(--cr-white);
	background-color: var(--cr-primary);
	padding: var(--s-5) 0;
}

.footer-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);

	@include touch {
		grid-template-columns: 1fr;
	}
}

.footer-subscribe {
	max-width: 320px;
	margin: 0 auto;
	order: 1;
}

.footer-social {
	[class*='svg-social'] {
		height: 25px;
	}
}

.footer-logo {
	display: block;
	order: 2;
	height: 50%;
	margin: 0 auto;
	place-self: center;

	@include touch {
		order: 3;
		width: 50%;
	}
}

.footer-links {
	order: 3;

	.linklist {
		display: flex;
		flex-wrap: wrap;
	}

	.linklist-item {
		width: 50%;
		a {
			padding: var(--s-3) 0;
			.svg-arrow-left-alt {
				display: none;
			}
		}
	}

	@include touch {
		order: 2;

		.linklist {
			margin: var(--s-section-half) 0;
			flex-direction: column;
		}

		.linklist-item {
			width: 100%;
			a {
				border-top: 1px solid var(--cr-subdued);
				.svg-arrow-left-alt {
					display: block;
					width: 25px;
				}
			}
		}
	}
}

.footer-copyright {
	opacity: 0.5;
	margin-top: var(--s-5);
	p {
		font-size: 10px;
		letter-spacing: 0.185em;
		line-height: 1.5;
	}
}

/*  1.2 FOOTER - END  */

/*  1.3 GENERAL + MISC  */

.header-space {
	height: calc(var(--s-announcement) + var(--s-header));
}

.shopify-challenge__container {
	max-width: 400px;
	margin: var(--s-section) auto;

	.shopify-challenge__message {
		font: var(--t-b-2);
	}
}

.shopify-policy__container {
	width: calc(100vw - var(--s-contain) * 2);
	max-width: 720px;
	margin: var(--s-section) auto;
	padding: 0;

	.shopify-policy__title {
		margin: 0 0 var(--s-section-half);
	}
}

.error-content,
.page-content {
	margin: var(--s-section) auto;
}

.main_logo_wrap {
	width: 265px;
	max-width: 100%;
	margin: 0 auto;
}

/*  1.3 GENERAL + MISC - END  */

/*  1.4 MINICART  */
.global-minicart {
	position: fixed;
	top: var(--s-header);
	right: 0;
	width: 100%;
	max-width: 480px;
	height: calc(var(--s-viewport-height) - var(--s-header));
	background: var(--cr-subdued);
	transition: 0.4s var(--a-panel);
	transform: translate3d(100%, 0, 0);
	z-index: 100;

	@include mobile-only {
		max-width: 330px;
	}

	.minicart-header {
		padding: var(--s-3);

		.minicart-close {
			width: 20px;
			height: 20px;
		}
	}

	.minicart-content {
		flex: 1;
		overflow-y: auto;
		overflow-x: hidden;
		-webkit-overflow-scrolling: touch;
		padding: var(--s-3);
	}

	.minicart-upsell {
		border-top: 1px solid var(--cr-secondary);
		padding: var(--s-3);
		transition: 0.4s var(--a-panel);

		@include mobile-only {
			transform: translate3d(0, 50%, 0);

			&:hover {
				transform: translate3d(0, 0, 0);
			}
		}
	}

	.minicart-actions {
		border-top: 1px solid var(--cr-primary);
		padding: var(--s-3);
		background: var(--cr-subdued);
		z-index: 10;

		.btn {
			width: 100%;
		}
	}
}

.global-minicart-overlay {
	position: fixed;
	width: 100%;
	height: calc(100% - var(--s-header));
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	opacity: 0;
	pointer-events: none;
	transition: 0.4s;
	z-index: 90;
}

html.minicart-is-active {
	body {
		overflow: hidden;
	}

	.global-minicart {
		transform: translate3d(0, 0, 0);
	}

	.global-minicart-overlay {
		opacity: 1;
		pointer-events: auto;
	}
}

.minicart-empty {
	position: relative;
	padding: 25px;
	margin: auto;
	text-align: center;
	z-index: 3;
}

html.cart-has-items .minicart-empty,
html:not(.cart-has-items) .minicart-header,
html:not(.cart-has-items) .minicart-content,
html:not(.cart-has-items) .minicart-actions,
html:not(.cart-has-items) .minicart-shipping,
html:not(.cart-has-items) .minicart-upsell {
	display: none;
}
/*  1.4 MINICART - END  */

/*  1.0 SITEWIDE - END  */

/*  2.0 ACCOUNT  */

/*  2.1 ACCOUNT GATE  */

.account-gate-wrapper {
	position: relative;
	margin: var(--s-section) auto;
	padding: 0.1px 0;
	transition: height 0.6s;

	.account-gate {
		position: relative;
		transition: 0.6s 0.6s;

		.account-login {
			width: 50%;
			padding: 0 var(--s-4) 0 0;
			border-right: 1px solid var(--cr-subdued);
		}

		.account-register {
			width: calc(50% - var(--s-4));
			margin: 0 0 0 var(--s-4);
		}

		@media screen and (max-width: 900px) {
			& > .c {
				max-width: 600px;
			}

			.account-login {
				width: 100%;
				margin: 0 0 var(--s-section-half);
				padding: 0 0 var(--s-section-half);
				border-right: 0;
				border-bottom: 1px solid var(--cr-subdued);
			}

			.account-register {
				width: 100%;
				margin: 0;
			}
		}
	}
}

.account-gate-header,
.account-gate-content {
	margin: 0 0 var(--s-3);
}

.account-gate-footer {
	text-align: center;

	& > *:not(:last-child) {
		margin: 0 0 var(--s-3);
	}

	.btn {
		display: block;
		width: 100%;
	}

	a.t-l-2,
	button.t-l-2 {
		text-decoration: underline;
	}
}

.account-reset,
.account-reset-password {
	margin: var(--s-section) auto;
	transition: 0.6s 0.6s;
}

.account-reset {
	position: absolute;
	top: 0;
	width: 100%;
	padding: var(--s-4) var(--s-2);
}

html.reset-password-active .account-gate,
html:not(.reset-password-active) .account-reset {
	opacity: 0;
	pointer-events: none;
	transition-delay: 0s;
}

/*  2.1 ACCOUNT GATE - END  */

/*  2.2 ACCOUNT CONTENT  */

.account-content {
	margin: var(--s-section) auto;

	.account-content-header {
		margin: 0 0 var(--s-section);
	}
}

.account-orders {
	margin: var(--s-section) auto;

	& > h2 {
		margin: 0 0 var(--s-3);
	}

	.orders-list-header,
	.orders-list-line {
		padding: var(--s-3) var(--s-2);

		&:nth-of-type(2n) {
			background-color: var(--cr-subdued);
		}

		& > ul > li {
			width: 20%;
		}

		& > ul > li:nth-child(5) {
			text-align: right;
		}

		&.orders-list-header {
			white-space: nowrap;
		}

		&.orders-list-line {
			position: relative;
			border-bottom: 1px solid var(--cr-subdued);
			transition: background 0.2s, padding 0.2s;
		}
	}

	@media screen and (max-width: 600px) {
		& > ul {
			width: 100vw;
			margin: 0 calc(0px - var(--s-contain));
			padding: 0 var(--s-contain) var(--s-3);
			overflow-y: hidden;
			overflow-x: auto;
			-webkit-overflow-scrolling: touch;
		}

		& > ul::-webkit-scrollbar {
			height: var(--s-1);
		}

		& > ul::-webkit-scrollbar-track {
			margin: 0 var(--s-contain);
			background-color: var(--cr-white);
			border-radius: var(--s-1);
		}

		& > ul::-webkit-scrollbar-thumb {
			height: var(--s-1);
			background-color: var(--cr-subdued);
			border-radius: var(--s-1);
		}

		& > ul > li {
			min-width: 600px;
			padding-right: var(--s-3);
		}

		.orders-list-header,
		.orders-list-line {
			padding: var(--s-3) var(--s-3) var(--s-3) 0;
		}
	}
}

.account-addresses {
	margin: var(--s-section) auto;

	& > h2 {
		margin: 0 0 var(--s-3);
	}

	.address-list {
		margin: 0 0 var(--s-section-half);
	}

	.address {
		width: calc(100% / 2 - var(--s-3) / 2);
		margin: 0 var(--s-3) var(--s-3) 0;
		padding: var(--s-3);
		border: 1px solid var(--cr-subdued);

		&:nth-of-type(2n) {
			margin: 0 0 var(--s-3);
		}

		.address-actions {
			margin: var(--s-3) 0 0;
		}
	}

	.address-add-trigger {
		margin: var(--s-section-half) 0 0;
	}

	@media screen and (max-width: 900px) {
		.address,
		.address:nth-of-type(2n) {
			width: 100%;
			margin: 0 0 var(--s-3);
		}
	}
}

.address-popup {
	display: block !important;
	position: absolute;
	top: var(--s-section);
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	padding: var(--s-4);
	background-color: var(--cr-white);
	opacity: 0;
	pointer-events: none;
	transition: 0.4s;
	z-index: 205;

	&.active {
		opacity: 1;
		pointer-events: auto;
	}

	.address-popup-header {
		margin: 0 0 var(--s-4);
	}

	.address-popup-header .address-popup-close {
		margin: calc(0px - var(--s-2)) calc(0px - var(--s-2)) 0 auto;
		width: var(--s-4);
		height: var(--s-4);

		svg {
			display: block;
			width: var(--s-3);
			margin: var(--s-2);
		}
	}

	.address-popup-footer .btn {
		width: 100%;
	}

	@media screen and (max-width: 600px) {
		& {
			padding: var(--s-3) var(--s-contain);
		}
	}
}

.address-popup-overlay {
	display: block;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.1);
	opacity: 0;
	pointer-events: none;
	transition: 0.3s;
	z-index: 200;
}

html.address-popup-active .address-popup-overlay {
	opacity: 1;
	pointer-events: auto;
}

.order-details-summary {
	margin: 0 auto var(--s-section-half);

	.block {
		width: calc((100% - var(--s-4)) / 2);
		margin: 0 var(--s-4) var(--s-4) 0;

		&:nth-child(2n) {
			margin: 0 0 var(--s-4);
		}

		.t-l-1 {
			margin: 0 0 var(--s-1);
		}
	}

	.order-details-tracking-url {
		margin: var(--s-3);
	}
}

.order-details {
	margin: 0 0 var(--s-section-half);
	padding: var(--s-4);
	background-color: var(--cr-white);

	.order-details-header,
	.order-details-items {
		padding: var(--s-3) 0;
		border-bottom: 1px solid var(--cr-subdued);

		& > li:nth-child(1) {
			width: var(--s-5);
		}

		& > li:nth-child(2) {
			flex: 1;
			padding: 0 var(--s-3);
		}

		& > li:nth-child(3),
		& > li:nth-child(4) {
			width: var(--s-5);
			text-align: right;
		}

		&.orders-detail-header {
			white-space: nowrap;
		}

		&.orders-detail-items {
			position: relative;
			border-bottom: 1px solid var(--cr-subdued);
		}
	}

	& > ul > li:last-child > ul {
		padding-bottom: 0;
		border-bottom: 0;
	}

	.item-thumbnail {
		position: relative;
		background-color: var(--cr-subtle);

		&:after {
			content: '';
			display: block;
			padding-top: 100%;
		}

		img {
			width: 80% !important;
			height: 80% !important;
		}
	}

	@media screen and (max-width: 600px) {
		& {
			width: 100vw;
			margin: 0 calc(0px - var(--s-contain)) var(--s-section);
			padding: 0 var(--s-contain) var(--s-3);
			overflow-y: hidden;
			overflow-x: auto;
			-webkit-overflow-scrolling: touch;
		}

		&::-webkit-scrollbar {
			height: var(--s-1);
			margin: 0 0 var(--s-1);
		}

		&::-webkit-scrollbar-track {
			margin: 0 var(--s-contain) var(--s-1);
			background-color: var(--cr-subtle);
			border-radius: var(--s-1);
		}

		&::-webkit-scrollbar-thumb {
			height: var(--s-1);
			background-color: var(--cr-subdued);
			border-radius: var(--s-1);
		}

		& > ul {
			min-width: 600px;
			padding-right: var(--s-3);
		}
	}
}

/*  2.2 ACCOUNT CONTENT - END  */

/*  2.0 ACCOUNT - END  */

/*  3.0 FRONTPAGE  */

html#template-frontpage {
	.global-header:not(.scrolled) {
		background-color: transparent;

		.header-logo {
			opacity: 0;
		}

		.header-trigger .icon-bar {
			background-color: var(--cr-white);
		}

		.header-cart {
			color: var(--cr-white);
		}

		.header-links .linklist-item a {
			color: var(--cr-white);
		}
	}
}

.frontpage-hero {
	position: relative;
	height: 700px;
	overflow: hidden;

	&__video {
		height: 100%;
		width: 100%;
		object-fit: cover;
	}

	&__logo {
		margin-top: 100px;

		.main_logo_wrap {
			color: var(--cr-white);
		}
	}

	&__message {
		margin-top: 100px;

		@include mobile-only {
			margin-top: auto;
		}
	}
}

/*  3.0 FRONTPAGE - END  */

/*  4.0 COLLECTION  */

.collection {
	&__banner {
		&__image {
			position: relative;
			&:after {
				content: '';
				display: block;
				height: 400px;
				@include mobile-only {
					height: 345px;
				}
			}
		}
	}
	&__list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: var(--s-4);
		@include mobile-only {
			grid-template-columns: repeat(2, 1fr);
			grid-gap: var(--s-3);
		}
		@include tablet-only {
			grid-gap: calc(var(--s-2) + var(--s-3));
		}
	}
	&__pagination {
		&__nav,
		&__item {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 36px;
			width: 36px;
		}
		&__item {
			text-align: center;
			border: 1px solid transparent;
			border-radius: 100%;
			margin: 0 2px;
			transition: all 0.2s ease;
			&:hover,
			&.is-current {
				border-color: var(--cr-primary);
			}
		}
	}
}

/*  4.0 COLLECTION - END  */

/*  5.0 PRODUCT  */

.product-hero {
	position: relative;
	display: grid;
	grid-template-columns: repeat(2, 1fr);

	@include touch {
		display: block;
	}
}

.hero-images {
	position: relative;

	.product-image {
		position: relative;
		overflow: hidden;

		&::after {
			content: '';
			display: block;
			padding-top: 100%;
		}
	}
}

.hero-content {
	display: flex;
	flex-direction: column;
	place-self: center;
	width: 100%;
	padding: var(--s-3) var(--s-section-half);

	.content-header {
		display: flex;

		@include touch {
			order: 2;
		}
		.product-title {
			margin-bottom: var(--s-3);
			padding-right: var(--s-3);

			@include touch {
				position: absolute;
				top: var(--s-3);
				left: 0;
				right: 0;
				color: var(--cr-white) !important;
				text-align: center;
				padding: 0 var(--s-3);
				margin: 0;
				z-index: 10;
			}
		}
		.content-price {
			@include touch {
				margin: var(--s-3) 0;
			}
		}
	}

	.content-description {
		text-align: justify;
		margin-bottom: var(--s-section-half);

		@include touch {
			order: 2;
			text-align: center;
		}
	}

	.content-form {
		display: flex;
		flex-direction: column;

		@include touch {
			order: 1;
		}

		.product-variants {
			position: relative;
			margin-bottom: var(--s-3);

			@include touch {
				> p {
					text-align: center;
				}
			}

			.product-variant {
				display: flex;
				margin-bottom: var(--s-3);

				@include touch {
					justify-content: center;
				}

				.product-variant-selector {
					position: relative;
					width: var(--s-4);
					height: var(--s-4);
					border-width: 0;
					margin: 0 var(--s-2);
					cursor: pointer;
					&:checked {
						&:before {
							content: '';
							position: absolute;
							top: -4px;
							left: -4px;
							right: -4px;
							bottom: -4px;
							border-radius: 100%;
							border: 1px solid var(--cr-primary);
						}
					}
				}
			}

			.product-variant-info {
				display: none;

				&.is-selected {
					display: block;
				}

				> label {
					display: inline-flex;
					justify-content: space-between;
					align-items: center;
					transition: all 0.5s ease-in-out;

					@include touch {
						width: 100%;
						text-align: center;
						flex-direction: column;
					}

					.price {
						display: block;
						margin-left: var(--s-3);

						@include touch {
							margin-left: 0;
							margin-top: var(--s-3);
						}
					}
				}
			}
		}

		.product-purchase {
			position: relative;
			z-index: 10;
			margin-bottom: var(--s-section-half);

			@include widescreen {
				margin-bottom: var(--s-section);
			}

			&.is-single {
				display: flex;
				gap: var(--s-2);

				.item-quantity {
					margin-top: 0;
					z-index: 10;
				}

				.js-add-to-cart-btn {
					box-shadow: none;
				}
			}

			.purchase-panel {
				position: absolute;
				top: 24px;
				left: 0;
				right: 0;
				background: var(--cr-subtle);
				border-radius: 0 0 var(--s-2) var(--s-2);
				box-shadow: 0 0 8px 2px rgba(21, 71, 52, 0.1);
				transition: opacity .4s ease-in-out;
				opacity: 0;
				pointer-events: none;
				padding: calc(var(--s-3) + 24px) var(--s-3) var(--s-3);

				@include touch {
					position: relative;
					top: 0;
					height: auto;
					border-radius: var(--s-1) var(--s-1) 0 0;
					opacity: 1;
					pointer-events: auto;
					margin-bottom: -24px;
					padding: var(--s-3) var(--s-3) calc(var(--s-3) + 24px);
				}
			}

			.product-subscription {
				display: none;

				&.is-selected {
					display: block;
				}
			}

			.js-add-to-cart-btn {
				width: 100%;
				box-shadow: 0 0 12px rgba(21, 71, 52, 0.25);
				z-index: 10;
			}

			@media (hover: hover) {
				&:hover {
					.purchase-panel {
						pointer-events: auto;
						opacity: 1;
					}
				}
			}
		}
	}

	.product-features {
		display: flex;
		justify-content: center;
		gap: var(--s-section-half);
		border-top: 1px solid var(--cr-secondary);
		border-bottom: 1px solid var(--cr-secondary);
		list-style-position: inside;
		list-style-type: upper-roman;
		padding: var(--s-2) 0;

		@include touch {
			order: 3;
		}
	}
}

/*  5.0 PRODUCT - END  */
